{% extends 'layout.html' %}
{% set active_page = 'account' %}

{% macro category_icon(category) -%}
    {{ 'fa-phone' if category == 'Abonnements' }}
    {{ 'fa-shopping-cart' if category == 'Achats & Shopping' }}
    {{ 'fa-cutlery' if category == 'Alimentation & Restaurant' }}
    {{ 'fa-car' if category == 'Auto & Transport' }}
    {{ 'fa-bank' if category == 'Banque' }}
    {{ 'fa-tag' if category == 'Divers' }}
    {{ 'fa-eye' if category == 'Esthétique & Soins' }}
    {{ 'fa-home' if category == 'Logement' }}
    {{ 'fa-ticket' if category == 'Loisirs & Sorties' }}
    {{ 'fa-credit-card' if category == 'Retraits, Chèques et Virements' }}
    {{ 'fa-heart' if category == 'Santé' }}
    {{ 'fa-share' if category == 'Virements internes' }}
    {{ 'fa-euro' if category == 'Dépôt d\'argent' }}
    {{ 'fa-usd' if category == 'Impôts & Taxes' }}
    {{ 'fa-mail-reply' if category == 'Remboursements' }}
    {{ 'fa-graduation-cap' if category == 'Salaires' }}
{%- endmacro %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <ul class="nav nav-sidebar">
            {% for current_account in all_accounts %}
            <li class="{{ 'active' if current_account.id == account.id }}"><a href="{{ url_for('show_account', account_id=current_account.number) }}">{{ current_account.label }} <p class="pull-right">{{ current_account.balance }} €</p></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
        <h1 class="page-header">{{ account.label }}<p class="pull-right {{ 'text-primary' if account.balance > 0 else 'text-danger'}}">{{ account.balance }} €</p></h1>

        <h5 class="sub-header">Mise à jour : {{ account.date|humanize }}</h5>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                {% for transaction in account.transactions %}
                <tr class="{{ 'success' if transaction.amount > 0 }}">
                    <td>{{ transaction.date|dateformat(format='d MMM') }}</td>
                    <td>{{ transaction.label }}</td>
                    <td><a href="#" class="label label-default" data-toggle="modal"
                           data-target="#changeCategoryModal"
                           data-id="{{ transaction.id }}"
                           data-label="{{ transaction.label }}"
                           data-category="{{ transaction.category }}"
                           data-amount="{{ transaction.amount }}"><i class="fa {{ category_icon(transaction.category) }}"></i>&nbsp;&nbsp;{{ transaction.category }}</a></td>
                    <td class="text-right">{{ transaction.amount }} €</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="changeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Catégorie</h4>
            </div>
            <div class="modal-body">
                <h4></h4>
                <span class="amount"></span>
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="inputLabel" class="col-sm-2 control-label">Label</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="inputLabel"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAmount" class="col-sm-2 control-label">Montant</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="inputAmount"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCategory" class="col-sm-2 control-label">Catégorie</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputCategory" name="category">
                                <option>Abonnements</option>
                                <option>Achats & Shopping</option>
                                <option>Alimentation & Restaurant</option>
                                <option>Auto & Transport</option>
                                <option>Banque</option>
                                <option>Divers</option>
                                <option>Esthétique & Soins</option>
                                <option>Impôts & Taxes</option>
                                <option>Logement</option>
                                <option>Loisirs & Sorties</option>
                                <option>Remboursements</option>
                                <option>Retraits, Chèques et Virements</option>
                                <option>Salaires</option>
                                <option>Santé</option>
                                <option>Virements internes</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <submit class="btn btn-primary">Enregistrer</submit>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="application/javascript">
    $(function() {
        $('#changeCategoryModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            modal.find('form').attr('action', '/transaction/' + button.data('id'));
            modal.find('#inputLabel').text(button.data('label'));
            modal.find('#inputAmount').text(button.data('amount') + ' €');
            if (parseInt(button.data('amount')) > 0) {
                modal.find('#inputAmount').addClass('text-success');
            }
            modal.find('#inputCategory').val(button.data('category'));
        });

        $('#changeCategoryModal submit').on('click', function(){
            $('#changeCategoryModal form').submit();
        });
    });
</script>
{% endblock %}
