{% extends 'layout.html' %}
{% set active_page = 'analyse' %}
{% set input_amount = input_transactions|sum(attribute='amount') %}
{% set output_amount = output_transactions|sum(attribute='amount') %}

{% macro category_icon(category) -%}
    {{ 'fa-phone' if category == 'Abonnements' }}
    {{ 'fa-shopping-cart' if category == 'Achats & Shopping' }}
    {{ 'fa-cutlery' if category == 'Alimentation & Restaurant' }}
    {{ 'fa-car' if category == 'Auto & Transport' }}
    {{ 'fa-bank' if category == 'Banque' }}
    {{ 'fa-tag' if category == 'Divers' }}
    {{ 'fa-eye' if category == 'Esthétique & Soins' }}
    {{ 'fa-home' if category == 'Logement' }}
    {{ 'fa-ticket' if category == 'Loisirs & Sorties' }}
    {{ 'fa-credit-card' if category == 'Retraits, Chèques et Virements' }}
    {{ 'fa-heart' if category == 'Santé' }}
    {{ 'fa-share' if category == 'Virements internes' }}
    {{ 'fa-euro' if category == 'Dépôt d\'argent' }}
    {{ 'fa-usd' if category == 'Impôts & Taxes' }}
    {{ 'fa-mail-reply' if category == 'Remboursements' }}
    {{ 'fa-graduation-cap' if category == 'Salaires' }}
{%- endmacro %}

{% block content %}
<div class="row">
    <div class="col-md-2 sidebar">
        <form method="post" action="{{ url_for('show_analyse', account_id=account.bank_id) }}">
            <div class="input-group date">
                <input type="text" class="form-control" value="{{ date }}" name="date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </form>
        <ul class="nav nav-sidebar" style="margin-top: 20px;">
            {% for current_account in all_accounts %}
            <li class="{{ 'active' if current_account.id == account.id }}"><a href="{{ url_for('show_analyse', account_id=current_account.bank_id) }}">{{ current_account.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-2 main">
        <h1 class="page-header">Entrées d'argent<p class="pull-right text-success">{{ input_amount }} €</p></h1>
        <h1 class="page-header">Sorties d'argent<p class="pull-right text-danger">{% if output_amount > 0 %}-{% endif %}{{ output_amount }} €</p></h1>
        <div id="output-transactions"></div>
        <div id="input-transactions"></div>
    </div>
    <div class="col-md-3 main">
        <ul class="list-group nav nav-sidebar">
            <li class="list-group-item active">Dépenses</li>
            {% for transaction in output_transactions|sort(attribute='category') %}
                <li class="list-group-item"><i class="fa {{ category_icon(transaction.category) }}"></i> {{ transaction.category }} <span class="badge">{{ transaction.amount }} €</span></li>
            {% endfor %}
        </ul>

        <ul class="list-group nav nav-sidebar">
            <li class="list-group-item active">Entrées</li>
            {% for transaction in input_transactions|sort(attribute='category') %}
                <li class="list-group-item"><i class="fa {{ category_icon(transaction.category) }}"></i> {{ transaction.category }} <span class="badge">{{ transaction.amount }} €</span></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker.min.css">
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/locales/bootstrap-datepicker.fr.js"></script>
<script type="text/javascript">
    $(function () {
        $('.input-group.date').datepicker({
            format: "MM yyyy",
            minViewMode: 1,
            language: "fr",
            autoclose: true
        }).on('changeDate', function() {
            $('.input-group.date').closest('form').submit();
        });
        $('#output-transactions').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            title: {
                text: 'Dépenses'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                {% for transaction in output_transactions %}
                    ["{{ transaction.category|safe }}", {{ transaction.amount}}],
                {% endfor %}
                ]
            }]
        });

        $('#input-transactions').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            title: {
                text: 'Entrées'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                {% for transaction in input_transactions %}
                    ["{{ transaction.category|safe }}", {{ transaction.amount}}],
                {% endfor %}
                ]
            }]
        });
    });
</script>
{% endblock %}
